body {
    background-color: rgba(255, 217, 0, 0.788);
}
.navBar {
    background-color: coral;
    height: 30px;
}

.navBar a{
    color:snow;
    float: right;
    padding:5px;
    font-weight:bold;
}

.navBar a:hover {
    background-color: black;
}
h1 {
    text-align: center;
}

.flex-container {
    text-align: left;
    padding: 25px;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: 20px;
}
