body {
    background-color: rgba(255, 217, 0, 0.788);
}

h1 {
    text-align: center;
}

.flex-container {
    padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 20px;
}