
body {
    background-color: rgba(255, 217, 0, 0.788);
    font-size: 20px;
}

.container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
    
    .family_pic {
        width: 400px;
        height: 400px;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
      }
    
      .figure{
    display: flex;
    justify-content: center;
    align-items: center;
      }