
body {
    background-color: rgba(255, 217, 0, 0.788);
    font-size: 20px;
}

#mansion_pic {
width: 60%;
height: 450px;
padding-bottom: 30px;
padding-top: 20px; 
}
.caption_container {
display:flex;
justify-content: center;

}

h3 {text-align: center}


.h1_container {
display:flex;
justify-content: center;


}
.img_container {
    display: flex;
    justify-content: center;
    }

.container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
    
    .family_pic {
    width: 400px;
    height: 400px;
    float: left;
    padding-left: 20px;
    padding-right: 25px;
  }
    
    .figure{
    display: flex;
    justify-content: center;
    align-items: center;
  }