body{
    background-color: rgba(255, 217, 0, 0.788);
    margin: 10px;
}
.navBar {
    background-color: coral;
    height: 30px;
}

.navBar a{
    color:snow;
    float: right;
    padding:5px;
    font-weight:bold;
}

.navBar a:hover {
    background-color: black;
}

#artistName h1{
    margin:10px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    text-align: center;
    font-size: 70px;
}

#artistName h2{
    text-align: center;
    font-style: italic;
}

.artist img {
    width:500px;
    height:500px;
}

.artist{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
}

#intro {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: justify;
}

.profile{
    display:flex;
    margin : 50px;
    border: 3px double black;
    padding: 10px;
}
.collaborators img{
    padding:40px;
    width:400px;
    height:400px;
}

.collaborators{
    display:flex;
    flex-wrap: wrap;
}

.collaborators div {
    width:40%;
    border: 2px double tomato;
    margin: 10px;
    padding:10px;
    text-align: justify;
}

.list_collaborators h2 {
    text-align: center;
    font-size: 30px;
    font: outline;
    color: tomato;
}

.collaborators h3{
    text-align: center;
    font-size: 30px;
    color:black;
}

